name: Build and Run

on:
  push:
    branches: [ "main" ]
  schedule:
    -cron: '21 00 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pages: write
      actions: read

    steps:
    - uses: actions/checkout@v4

    - name: Configure namespaces
      run: sudo sysctl kernel.apparmor_restrict_unprivileged_userns=0

    - name: Install dependencies
      run: | 
        sudo apt-get update
        sudo apt-get install zlib1g-dev libssl-dev libarchive-dev procps util-linux zstd wget tar pkg-config perl gzip grep git findutils build-essential gawk bash git unzip jq

    - name: Build sysroot
      run: JINX_CLEAN_WORKDIRS=yes make

    - name: Run os-test
      run: make test

    - name: Create html
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: make html

    - name: Upload pages artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: ./sysroot/usr/share/os-test/html

    - name: Deploy to github pages
      uses: actions/deploy-pages@v4
