name: Build and Run

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure namespaces
      run: sudo sysctl kernel.apparmor_restrict_unprivileged_userns=0

    - name: Install dependencies
      run: | 
        sudo apt-get update
        sudo apt-get install zlib1g-dev libssl-dev libarchive-dev procps util-linux zstd wget tar pkg-config perl gzip grep git findutils build-essential gawk bash
    - name: Build sysroot
      run: JINX_CLEAN_WORKDIRS=yes make

    - name: Run 
      run: make test

    - name: Html
      run: make html
