name: Build and Run

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: | 
        sudo apt-get update
        sudo apt-get install zlib-dev openssl-dev libarchive-dev procps util-linux zstd wget tar pkg-config perl gzip grep git findutils build-essential gawk bash
    - name: Build sysroot
      run: make

    - name: Run 
      run: make test

    - name: Html
      run: make html
